/* 

Project Name: Favorite band
Client: Mart and Kit
Author: Richard de Waal | www.twitter.com/drunkskin

*/

/* General Styles */

body {
	color: white;	/* set the font color to white for all the content between the HTML <body></body> tags  */
	font-size: 16px; /* specify the default font size for your site */

	/* set up a background image */
	background: url('../images/danzig-background.jpg') no-repeat;

	/* the follow is the code to have the image display as a full page */
	background-position: center;
	background-attachment: fixed;
	-webkit-background-size: cover; /* the next 3 lines are "browser prefixes", they are necessary to include for CSS3 techniques */
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

h1 {
	margin: 0px;
	font-size: 80px;
}

h2 {
	background: #777777;
	color: black;
	padding: 5px;

	-webkit-border-radius: 5px; /* Border-radius wiht the browser prefix (more advanced, good to include when using border-radius) */
	border-radius: 5px; 
}

a {
	color: #000000;
	text-decoration: none;
}


/* Layout */


#container {
	padding: 35px; /* add a bit of padding around all the content inside our container */
	background: #b8270b; /* set the container's background to black */
	border:1px solid white;
	width: 520px;
	opacity:0.6;
  	filter:alpha(opacity=60); /* For IE8 and earlier */
	-webkit-border-bottom-right-radius: 25px; /* Border-radius wiht the browser prefix (more advanced, good to include when using border-radius) */
	border-bottom-right-radius: 25px; 
}
#container:hover
{
opacity:1.0;
filter:alpha(opacity=100); /* For IE8 and earlier */

