/* 
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP                   
/*******************************************/

/* Box Model Hack */

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

.alignright {
	float: right; 
	padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
	float: left; 
	padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES                   
/*******************************************/

body {
     color: #000;
     font-size: 12px;
     line-height: 1.4;
     font-family: Helvetica, Arial, sans-serif;
}


/******************************************
/* LAYOUT                   
/*******************************************/

/* Center the container */
body {
	width: 960px;
	margin: auto;
}

header {
     background-color: #89CEDE;
     height: 138px;
}

/*to remove the spacing at the top*/
header h1 {
     margin-top: 0px;
     color: white;
     font-size: 48px;
     /*to aline somthing in the center of the container set the line hight to the same px as the box size*/
     line-height: 138px;

}
footer {
     background-color: #89CEDE;
     height: 138px;
}

/******************************************
/* ADDITIONAL STYLES                   
/*******************************************/
#main {
     background-color: blue;
     width: 640px;
}

#sidebar {
     background-color: red;
}


