

/*****************************/		
/*        GENERAL             *
/*****************************/	
body {
	background-image: url(../images/bg-gradient.jpg);
	background-repeat: repeat-x;
	background-color: #b6bec7;
}


#container {
	width: 960px;
	margin: 0 auto 0 auto;
	padding: 20px;
}

#paragraph {
	background-color: #FFF;
	padding: 20px;
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}



/*****************************/		
/*  CSS SPRITE NAVIGATION     *
/*****************************/	

li {
	float: left;
}

li a {
	display: block;
	background-image: url(../images/menu-sprite.jpg);
	width: 120px;
	height: 59px;
	text-indent: -99999px;
}
	
/*normal state*/
.home a {background-position: 0px 0px;}
.about a {background-position: -125px 0px;}
.contact a {
	width: 160px;
	background-position: -250px 0px;
}


/*hover state*/
.home a:hover {background-position: 0px -70px;}
.about a:hover {background-position: -125px -70px;}
.contact a:hover {background-position: -250px -70px;}

