/* 
Project Name: Ecard.ly
Client: General Assembly 
Author: Christopher Castig | @castig
Developer @GA in NYC
*/

/* Box Model Hack */

* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
} * 

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

body {background: url("../images/background.jpg");
     background-repeat: repeat-x;
     background-color: #d6d6d6;
     color: #000000;  
     font-family: 'Armata', serif;   
}


header {
  height: 213px;
  width: 216px;
  display: block;
  background: url("../images/logo.png");
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  margin: 15px auto 30px;
}

h2 {font-size: 20px;
     font-weight: bold;
}

#content {float: left;
     border-radius: 5px;
     margin: 10px;
}

p {font-size: 14px;
  text-align: justify;
  margin: 10px;

}
.container {margin: 0 auto;
            width: 930px;
}

#menu {background-color: white;
        width: 260px;
        float: left;
        border: 1px solid #ccc;
        box-shadow: 1px 1px 30px #ccc;
        border-radius: 5px;
        padding: 10px;
        margin-left: 30px;
}


#ecard {background-color: white;
     width: 640px;
     padding: 10px;
     border-radius: 5px;
     border: 1px solid #ccc;
     box-shadow: 1px 1px 30px #ccc;
     float: left;

}

a:link {color: #cc6633;
     font-weight: bold;
     text-decoration: none;
}

a:visited {color: #cc6633;
     font-weight: bold;
     text-decoration: none;
}

.line {
  padding: 5px;
  margin: 0;
  border-bottom: 1px #CCC solid;
}

footer {padding-top: 35px;
        width: 930px;
        margin: 0 auto;

}

ul, li {
    list-style-type: none;
}

#links {margin: 0 398px;


}